extends layout

block content
    .slide2
      h1= message
    .slide.error
      p Hata
    script.
      $(".slide").fadeOut(1000);
      $(".slide2").delay(2000).fadeOut(1000);
      setTimeout(function () { window.location="/drafted" }, 3000);