extends layout

block content
    #newuser
        h1= title
        form#formAddUser(name="adduser",method="post",action="/adduser")
            input#inputUserName(type="text", placeholder="Kimi Alcan?", name="username")
            br  
            input#password(type="text", placeholder="Şifre", name="password")
            br
            button#btnSubmit(type="submit") Gönder
            br
            script.
                $("#newuser").hide();
                $("#newuser").fadeIn(500);
                $("#btnSubmit").click(function() {$("#newuser").fadeOut(500);});
                $("#btnSubmit").click(function(event) {event.preventDefault();$(this).fadeOut(500, function(){$("#formAddUser").submit();});});