* {
  box-sizing: border-box;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin-bottom: 15px;
}
body {
  padding: 5%;
  font: 14px "Open Sans", Helvetica, Arial, sans-serif;
  overflow-x:hidden;
}

#inputUserName, #password {
    height: 30px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    max-width: 250px;
}

#newuser {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
}

#grup {
    width: 100%;
}

#btnSubmit, #btnDraft {
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
    background-color: azure;
    margin-bottom: 20px;
}

#btnSubmit {
    width: 100%;
    max-width: 250px;
    height: 30px;
}

#btnDraft {
    max-width: 150px;
    width: 100%;
    font-size: 1em;
    height: 50px;
}

#formDraft {
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
}

a {
  color: #00B7FF;
}

#onur, #kamil, #emre, #ulas, #jr, #okan, #bura {
    width: 280px;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

ul {
    list-style: disc;
}

h2 {
    text-align: center;
    font-size: 1.25em;
}

h1 {
   text-align: center;
    font-size: 2.50em;
}

.selected {
    color: green;
}

.error {
    text-align: center;
    font-size: 1.25em;
    font-family: 'Open Sans', sans-serif;
}

@media (min-width: 720px) {
#formDraft {
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
}
#newuser {
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
}

}

@media (min-width: 1000px) {
    #formDraft {
    width: 150px;
    margin-left: 42.5%;
}
    #newuser {
    width: 15%;
    margin-left: 42.5%;
    margin-right: 42.5%;
}

}

@media (min-width: 1300px) {
    #formDraft {
        width: 150px;
        margin-left: 45%;
    }
}


@media (max-width: 500px) {
#btnDraft {
    height: 80px;
}
}


/* angular için eklemeler */

      .main, .debug {
        width: 48%;
      }

      .main {
        float: left;
      }

      .debug {
        float: right;
      }

      .fields label {
        display: block;
        margin-bottom: 1.5em;
        font-weight: bold;
      }

      .fields label input, .fields label select {
        font-weight: normal;
        margin-left: 1em;
      }
